name: Lint

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6.0.1

      - uses: actions/setup-node@v6.0.0
        with:
          node-version: 'lts/*'

      - name: Biome check
        run: npx --yes @biomejs/biome check daily-schedule-card.js
